extends base.pug
include mixins/video

block content 
    form(method="GET").search__form
        input(name="keyword", placeholder="Search by title", type="text")
        button  
            i.fas.fa-search
    div.video-grid
        each video in videos
            +video(video)
        else
            sapn.empty__message Sorry nothing found